body {
    background-color: rgb(39, 27, 27);
    color: rgb(216, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background-color: rgb(216, 209, 209);
    color: rgb(39, 27, 27);
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 20px;
}
